@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: 'Jost', sans-serif;
}

body {
    background-color: #2274AC;
}

main {
    display: flex;
    height: 100vh;
}

a {
    text-decoration: none;
    font-family: var(--font);
}

p {
    font-family: var(--font);
}

.logo_menu {
    width: 200px;
}

aside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.menu {
    width: 20%;
    background-color: #2274AC;
    height: 100vh;
}

.btn_menu iconify-icon {
    padding: 8px;
    border-radius: 100px;
    background-color: #FFD100;
    color: #474545;
    margin-right: 5px;
}

.btn_menu {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.btn_menu>a:hover {
    background-color: #FFD100;
}


.btn_menu a {
    margin: 10px;
    width: 180px;
    height: 38px;
    border-radius: 100px;
    background-color: white;
    color: #474545;
    font-size: 20px;
    display: flex;
    align-items: center;
    font-family: 'Jost', sans-serif;
}



footer a {
    width: 50vh;
    padding: 15px;
    background-color: #499AD1;
    color: #ffffff;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Jost', sans-serif;

}

footer a:hover {
    background-color: #075185;

}


/* Conteúdo */
.container{
    width: 800px;
    margin: 0 auto;
}

.titulo {
    display: flex;
    align-items: center;
    margin: 40px 0 0 100px;
}

section nav {
    display: flex;
    justify-content: center;
}

section nav a {
    margin: 15px 40px 30px;
}

.conteudo {
    width: 100%;
    background-color: #ffffff;
    border-radius: 40px 0 0 40px;
    background-image: url("../img/backgroudSection.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 265px 0;
}

.pesquisa_projeto {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.input-icons iconify-icon {
    position: absolute;
}

.input-icons {
    width: 30%;
    margin-bottom: 10px;
}

.icon {
    padding: 11px 0 0 5px;
    color: #474545;
    width: 40px;
}

.input-field {
    background: transparent;
    border-radius: 100px;
    width: 150px;
    padding: 10px 10px 10px 30px;
}

h1 {
    font-family: var(--font);
    font-weight: 700;
    font-size: 44px;
    padding: 20px;
    color: #2274AC;
}

#btn_cadastrar {
    font-weight: 400;
    font-size: 25px;
    color: #474545;
}

#btn_consultar {
    font-weight: 700;
    font-size: 25px;
    color: #474545;
}

.chapa_size {
    padding-right: 270px;
}

.nome_size {
    padding-right: 370px;
}

.lupa {
    width: 40px;
}

h2 {
    font-family: var(--font);
    font-weight: 700;
    font-size: 22px;
    color: #474545;
}